<footer class="footer">
  <div class="wrapper">
    <div class="footer__items">
      <ul class="footer__items__item footer__list">
        <li class="footer__list__item footer__list__item__title">покупателям</li>
        <li class="footer__list__item">
          <a href="#" class="footer__list__item__link">Каталог</a>
        </li>
        <li class="footer__list__item">
          <a href="#" class="footer__list__item__link">Акции</a>
        </li>
        <li class="footer__list__item">
          <a href="#" class="footer__list__item__link">Бренды</a>
        </li>
      </ul>
      <ul class="footer__items__item footer__list">
        <li class="footer__list__item footer__list__item__title">о нас</li>
        <li class="footer__list__item">
          <a href="#" class="footer__list__item__link">О компании</a>
        </li>
        <li class="footer__list__item">
          <a href="#" class="footer__list__item__link">Новости</a>
        </li>
        <li class="footer__list__item">
          <a href="#" class="footer__list__item__link">Команда</a>
        </li>
      </ul>
      <form action="" class="footer__items__item footer__form">
        <h4 class="footer__form__title">Узнайте первыми о новинках и акциях</h4>
        <label for="email"></label>
        <input type="email" name="email" id="email" class="footer__form__input"
        placeholder="Адрес электронной почты">
        <button type="reset" class="footer__form__reset">
          <svg>
            <use xlink:href="img/sprite/sprite.svg#close"></use>
          </svg>
        </button>
        <button class="btn btn-white">Подписаться</button>
      </form>
    </div>
  </div>
</footer>
